body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}
.quiz-container, #ranking-container {
    margin-top: 20px;
}
.quiz-image {
    width: 200px;
    height: 230px;
    object-fit: cover;
}
.hidden {
    display: none;
}
#timer, #lives {
    font-size: 1.5em;
    margin-top: 10px;
}
#answer-input {
    margin-top: 10px;
}
.ranking-list {
    text-align: left;
    margin-top: 20px;
}